[submodule "themes/theme_default"]
	path = themes/theme_default
	url = https://github.com/wahlrechner/theme_default.git
[submodule "web/wahlrechner"]
	path = web/wahlrechner
	url = https://github.com/wahlrechner/wahlrechner.git
