{$ROOT_DOMAIN} {
    header Content-Security-Policy: frame-ancestors *
    header -X-Frame-Options

    handle_path /static/* {
        root * /www/dev/static
        file_server
    }
    
    handle_path /media/* {
        root * /www/dev/media
        file_server
    }

    reverse_proxy dev:8000

    root * /www/dev
}