<div class="w-full p-3 text-center bg-gray-800">
    <div class="text-xs text-gray-400">
        {% wahlrechner_name %} Source: 
        <a class="font-bold transition hover:text-gray-200"
            href="https://github.com/vpfarr/wahlrechner">GitHub</a>
    </div>
    <div class="mt-3 text-xs text-gray-400">
        Wahlrechner ist eine offene Wahlempfehlungshilfe
    </div>
    <div class="text-xs text-gray-400">
        und ist frei verfügbar unter der Lizenz <a class="font-bold transition hover:text-gray-200"
            href="https://github.com/wahlrechner/wahlrechner/blob/main/LICENSE">GPL-3.0</a>
        &copy; {% now 'Y' %} Linus Köster
    </div>
</div>
