<h1 class="mb-3 text-xl font-semibold text-gray-700 dark:text-gray-100">Starte deinen Wahlcheck</h1>
<div class="text-left text-gray-600 dark:text-gray-300">
    Dieser Wahlcheck basiert auf Thesen, die durch das Projektteam formuliert und mit Kandidierenden bzw. Parteien geteilt werden sollen. Die eingegangenen Rückmeldungen werden unbearbeitet übernommen. Kandidierende, die ihre Positionen zu den Thesen nicht dargelegt haben sind nicht Teil dieses Wahlchecks.
</div>
<div class="p-3 mt-5 italic text-gray-400 border border-gray-400 rounded dark:text-gray-200 dark:bg-gray-700 dark:border-none">
    Der Wahlcheck sammelt keinerlei personenbezogene Daten und verwendet keine Cookies.
</div>
