{$DEV_DOMAIN} {
    root * /wahlrechner
    header Content-Security-Policy: frame-ancestors *
    header -X-Frame-Options

    handle_path /static/* {
        root * /wahlrechner/static
        file_server
    }

    handle_path /media/* {
        root * /wahlrechner/media
        file_server
    }

    reverse_proxy wahlrechner:8000
}

{$FILEBROWSER_DOMAIN} {
    reverse_proxy http://filebrowser:80
}

#reverse_proxy /team1/* wr-team1:8000
#reverse_proxy /team2/* wr-team2:8000
